{
  "presets": ["react", "env", "stage-0"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }],
    "transform-decorators-legacy",
    "transform-export-extensions",
    "transform-class-properties"
  ],
  "env": {
    "development": {
        "presets": ["react-hmre"],
        "plugins": ["react-hot-loader/babel"]
    }
  }
}
