{
  "presets": [
    ["env", { "modules": false }],

    // webpack understands the native import syntax, and uses it for tree shaking
    ["es2015",{"modules": false}],
    
    // Transpile React components to JavaScript
    "react",
    
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    
    // Enables React code to work with HMR.
    "react-hot-loader/babel"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
