{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    // webpack understands the native import syntax, and uses it for tree shaking
    [
      "es2017"
    ],
    // Transpile React components to JavaScript
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    // es7 装饰器
    "transform-decorators-legacy",
    // Enables React code to work with HMR.
    "react-hot-loader/babel"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}