border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
 
body a
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif
  background: black
  padding: 3px 5px
  border-radius(4px)
  color: #ccc
a:hover 
  color: #fff
form input
  padding: 5px
  border: 1px solid
  border-radius: 5px

.app-p-box 
  width: 1200px;
  padding: 20px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #b1f43d, #75de6a 23%, #31b195);
  background-size: 100%;