.item
  margin-bottom 8px
.btn
  padding: 3px 20px
  text-transform: uppercase
  font-size: 14px
  background: #1695A3
  color: white
  border: none
  border-radius: 3px
  margin-right: 10px
.btn[type=button][disabled]
  color: #000
  background: #fff
  border: 1px solid #1695A3
  cursor: not-allowed
.error
  padding-left: 5px
  color: #cd0303
