html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}
*,*:before,*:after{
  box-sizing: border-box;
}
body{
  font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  font-size: 12px;
}
ul,li{
  list-style: none;
}
*:focus{
  outline: none;
}
:global(#app){
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
  background-size: 100%;
  color: #fff;
}
