html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}
*,*:before,*:after{
  box-sizing: border-box;
}
body{
  font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  font-size: 12px;
}
ul,li{
  list-style: none;
}
*:focus{
  outline: none;
}
